.root {
  display: inline-flex;
  height: 1.5rem;
  width: 2.75rem;
  flex-shrink: 0;
  cursor: pointer;
  align-items: center;
  border-radius: 9999px;
  border: none;
  background-color: var(--muted);
  transition: background-color var(--duration-fast) var(--ease-out-cubic);
}

.root:focus-visible {
  box-shadow: var(--stroke-focus);
}

.root:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.root[data-state='checked'] {
  background-color: var(--primary);
}

.thumb {
  pointer-events: none;
  display: block;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 9999px;
  background-color: var(--background);
  box-shadow: var(--elevation-raised);
  transition: transform var(--duration-fast) var(--ease-out-cubic);
}

.root[data-state='checked'] .thumb {
  transform: translateX(1.25rem);
}

.root[data-state='unchecked'] .thumb {
  transform: translateX(0);
}
